{deps, [
    {getopt, ".*", {git, "https://github.com/jcomellas/getopt"}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy"}},
    {snappy, ".*", {git, "https://github.com/fdmanana/snappy-erlang-nif"}}
]}.
{erl_opts, [
    warnings_as_errors,
    nowarn_deprecated_function,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard
]}.
{clean_files, ["priv", "build/*.deb"]}.
{escript_name, "cfcheck"}.
{escript_comment, ""}.
{escript_emu_args, ["%%!-env ERL_LIBS ./deps/ -sasl false -kernel error_logger silent -escript main cfcheck \n"]}.
