% Licensed under the Apache License, Version 2.0 (the "License"); you may not
% use this file except in compliance with the License. You may obtain a copy of
% the License at
%
%   http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
% WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
% License for the specific language governing permissions and limitations under
% the License.

{deps, [
    {getopt, ".*", {git, "https://github.com/jcomellas/getopt"}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy"}},
    {snappy, ".*", {git, "https://github.com/fdmanana/snappy-erlang-nif"}}
]}.
{erl_opts, [
    warnings_as_errors,
    nowarn_deprecated_function,
    warn_export_vars,
    warn_shadow_vars,
    warn_obsolete_guard
]}.
{clean_files, ["priv", "build/*.deb"]}.
{escript_name, "cfcheck"}.
{escript_comment, ""}.
{escript_emu_args, ["%%!-env ERL_LIBS ./deps/ -sasl false -kernel error_logger silent -escript main cfcheck \n"]}.
